body {
	background: #8A2C0D;
}

h3 {
	position: absolute;
	width: 697px;
	height: 271px;
	left: 393px;
	top: 223px;


	font-family: Apple LiSung;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 48px;
	text-align: center;

	color: #F9F4E2;
}

.g1 {
	position: absolute;
	width: 340px;
	height: 820px;
	left: 42px;
	top: 16px;
}

.g2 {
	position: absolute;
	width: 485px;
	height: 840px;
	right: 0px;
	top: -1px;
}