body{
	background: #8A2C0D;
}
img {
	position: absolute;
	width: 781px;
	height: 830px;
	left: 700px;
	top: 0px;
}
 h3 {
 	position: absolute;
	width: 402px;
	height: 220px;
	left: 137px;
	top: 113px;

	font-family: Apple LiSung;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 48px;
	text-align: center;

	color: #F9F4E2;

 }