iframe {
	position: absolute;
	width: 1500px;
	height: 910px;
	left: 0px;
	top: 0px;
}


div {
	background: #8A2C0D;
  	position: absolute;
	width: 300px;
	height: 146px;
	left: 1023px;
	top: 628px;
  	font-family: Apple LiSung;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	color: #F9F4E2;
}

