body {
	background: #8A2C0D;
}
.h1 {
	position: absolute;
	width: 615px;
	height: 165px;
	left: 15px;
	top: 178px;

}
.home {
	position: fixed;
	top: 10px;
	right: 10px;
	background-color:#F9F4E2;
	font-size: 40px; 
	color: #8A2C0D;
}

.h2 {
	position: absolute;
	width: 746px;
	height: 117px;
	left: 358px;
	top: 36px;
}

.h3 {
	position: absolute;
	width: 836px;
	height: 115px;
	left: 86px;
	top: 532px;
}

.h4 {
	position: absolute;
	width: 839px;
	height: 117px;
	left: 358px;
	top: 368px;
}

.h5 {
	position: absolute;
	width: 635px;
	height: 195px;
	left: 630px;
	top: 148px;
}

.diana {
	position: absolute;
	width: 427px;
	height: 589px;
	left: 1051px;
	top: 322px;
}