body {
	background: #8A2C0D;
}
.home {
	position: fixed;
	top: 10px;
	right: 10px;
	background-color:#F9F4E2;
	font-size: 40px; 
	color: #8A2C0D;
}
h3 {
	position: absolute;
	width: 535px;
	height: 346px;
	left: 19px;
	top: 92px;

	font-family: Apple LiSung;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 48px;
	text-align: center;

	color: #F9F4E2;
}

img {
	position: absolute;
	width: 1460px;
	height: 845px;
	left: -18px;
	top: 33px;
}