@font-face {
	font-family: egyptienne;
	src: url(egyptienne.ttf);
}

body {
	margin:0px;
	background-color: #F29863;
	background-blend-mode: color-dodge;
	font-family: egyptienne;
	font-size: 90px;
}
body::before {
	content: "";
	background-image: url("horse.gif");
	background-size: 300px;
	opacity: .25;
	position: absolute;
	background-repeat: repeat;
	top: 0px;
    right: 0px;
    bottom: -1600px;
    left: 0px;
    z-index: -1;
}
.home {
	background: #000000;
	position: absolute;
	top:0px;
	right:0px;
	font-size: 60px;
	color: #F29863;
	width:max-content;
}

.sec2 {
	display:flex;
	flex-direction: row;
	overflow: auto;
}
.sec3 {
	display:flex;
	flex-direction: column;
}
.emp {
	font-size: 90px;
	margin-bottom:40px;
	margin-top:100px;
	width: 100%;
	border-top:13px solid #000000;
	border-bottom:13px solid #000000;
	text-align: center;
}
.cap {
	margin-left:200px;
	margin-right:200px;
}
.cap:hover {
	background: #000000;
	color: #F29863;
	width:900px;
	height: max-content;
}
.t {
	margin-top: 100px;
}
.t > img {
	width: 750px;
	height: 660px;
}
.v {
	margin-top: 100px;
}
.v > img {
	width: 750px;
	height: 620px;
}
.x {
	margin-top: 100px;
}
.x > img {
	width: 500px;
	height: 620px;
}
img {
	margin-bottom: 50px;
	padding-left: 30px;
	filter: drop-shadow(14px 5px 4px #000000);
}
img:hover {
	transform:scale(1.15);
	z-index:1000;
}
iframe {
	margin-left: 80px;
	margin-top: 100px;
	width: 1259px;
	height: 650px;
	margin-bottom: 20px;
}