body {
	background-image: url(sky.jpeg);
	background-position: center;
	background-repeat: no-repeat;
}

.container {
	display: flex;
	flex-direction: row;
	align-self: center;
	position: absolute;
	bottom: 5px;
	left:400px;
}
#hour {

}
#minute {

}
#second{

}


img {
	height: 200px;
	width: 60px;
	margin-left:50px;
	margin-bottom: 10px;
}