@font-face {
	font-family: egyptienne;
	src: url(egyptienne.ttf);
}

body {
	margin:0px;
	background-color: #F29863;
	background-blend-mode: color-dodge;
	font-family: egyptienne;
	font-size: 90px;
}
body::before {
	content: "";
	background-image: url("horse.gif");
	background-size: 500px;
	background-repeat: repeat-x;
	opacity: .25;
	position: absolute;
	top: 0px;
    right: 0px;
    bottom: -700px;
    left: 0px;
    z-index:-1;
}
img {
	filter: drop-shadow(14px 5px 4px #000000);
	margin-top: auto;
	position:relative;
	z-index:-1;
}
.overlay {
	display:none;
	font-size: 50px;
}
.image:hover .overlay {
    width:300px;
    height:250px;
    background:#000000;
    color: #F29863;
    margin-top: -170px;
    z-index: 1000;
    display:inherit;
    overflow-wrap: normal;
    margin-bottom: 0px:;
}
.bee {
	margin-top: 100px;
}
.home {
	background: #000000;
	position: absolute;
	top:0px;
	right:0px;
	font-size: 60px;
	color: #F29863;
	width:max-content;
}
.emp {
	font-size: 90px;
	margin-bottom:20px;
	width: 100%;
	border-top:13px solid #000000;
	border-bottom:13px solid #000000;
	text-align: center;
}
.sec1 {
	display:flex;
	flex-direction: row;
}
.sec2 {
	display:flex;
	flex-direction: row;
	margin-top: 20px;
}
.sec3 {
	display:flex;
	flex-direction: column;
}
.cap {
	font-family: georgia;
	width:800px;
	margin-left: 30px;
	margin-top:30px;
}
.cap:hover {
	background: #000000;
	color: #F29863;
	width:max-content;
	height: max-content;
}