 @font-face {
  font-family: "alba1";
  src: url("alba/albas.TTF");
  }
  @font-face {
  font-family: "alba2";
  src: url("alba/alba.TTF");
  }
.question-container1{
  color: white;
  background: #85A4CC;
  margin: 10px;
  padding: 5px;
  font-family: helvetica;
  font-size: 24px;
  text-align: center;
}
.a1 {
	font-family: helvetica-oblique
}
.question-container21 {
  color: #ff0066;
  background: #f7f6e6;
  border: 1px;
  border-radius: 15px;
  margin: 10px;
  padding: 5px;
  font-family: avenir-black;
  font-size: 24px;
  width:900px;
}
.question-container22 {
  color: #f7f6e6;
  background: #ff0066;
  border: 1px;
  border-radius: 15px;
  margin: 10px;
  padding: 5px;
  font-family: baskerville;
  font-size: 24px;
  width:900px;
}


.question-container3 {
  color: red;
  margin: 20px;
  padding: 5px;
  border: 5px double red;
  font-family: silom;
  font-size: 35px;
}
.question-container4 {
  color: white;
  background: black;
  margin: 10px;
  padding: 16px;
  font-family: georgia;
  font-size: 20px;
  width: 400px
}
.more {
  padding-bottom: 10px;
}
.names {
	font-family: georgia-bold
  letter-spacing: 1px;
  font-size: 15px;
  padding-bottom: 2px;
}
.question-container {
  color: #ff3300;
  margin: 10px;
  padding: 5px;
  font-family: alba1;
  font-size: 40px;
}
.plain {
	font-family: alba2;
  	font-size: 34px;
}